label{
    display:block;
    margin-top: 20px;
}

input[type='text']{
    width:400px;
}

.details textarea{
    width:400px;
}

.e Button{
    background-color: #008ECC;
    margin:10px 0px;
    color:black;
}